@model IEnumerable<IdeasAndInvestors.Models.IdeaMaster>
@{
    ViewData["Title"] = "InvestorCategoryDetails";
    Layout = "~/Views/Shared/_IdeasInvestorsInvestor.cshtml";
}

<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/template/assets/css/style-starter.css">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">


<section class="grids-4" id="properties">
    <div id="grids4-block" class="py-5">
       <div class="container py-md-3">
			<div class="heading text-center mx-auto">
      <h3 class="head">@TempData["CategoryName"] related startups</h3>
      <p class="my-3 head"> </p>
    </div>
            
            <div class="row mt-5 pt-3">
                @foreach (var idea in Model)
            {
                <div class="grids4-info  col-lg-4 col-md-6 col-sm-6 mt-3">
                        <a href="@Url.Action("InvestorIdeaView","Investor",new {Iid = @idea.Iid})"><img style="width:420px;height:300px;" src="@Url.Content("~/"+idea.Iimage)" class="img-fluid" alt=""></a>
                        @*<ul class="location-top">
                            <li class="rent">For Rent</li>
                            <li class="open-1">Open House</li>
                        </ul>*@
                        <div class="info-bg">
                            <h5><a href="#">@idea.Ititle</a></h5>
                            <p>Investment Needed :  $ @idea.IinvestmentNeeded</p>
                        </div>
                    </div>
                
                 
					
					} 
                  <br /><br /> 
                </div>
                
           </div>
    </div>
</section>