@model IEnumerable<IdeasAndInvestors.Models.CategoryMaster>
@{
    ViewData["Title"] = "AdminCategoryView";
    Layout = "~/Views/Shared/_IdeasInvestorsAdmin.cshtml";
}

<center><h1>Category Details</h1> </center>
<a class="btn btn-info" href="@Url.Action("AddCategory","Admin")" >Add Category</a><br /><br />
<table id="booking" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Category Photo</th>
                <th>Action</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
            <tr>
                <td>
                    @user.Catid
                </td>
                <td>
                    @user.Catname
                    
                </td>
                <td>
                    <img width="100px" height="100px" src="@Url.Content("~/" + user.Catimage)" alt="No image found">
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("EditCategory","Admin",new {Catid=@user.Catid})" >Edit</a>&nbsp;
                    <a class="btn btn-info" href="@Url.Action("DeleteCategory","Admin", new {Catid=@user.Catid})" >Delete</a>
                </td>

            </tr>
        }
            </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
    $('#booking').DataTable();
} );    
    </script>

