@model IEnumerable<IdeasAndInvestors.Models.InvestmentCompletedModel>
@{
    ViewData["Title"] = "FullyFledgedIdeas";
    Layout = "~/Views/Shared/_IdeasInvestorsAdmin.cshtml";
}

<center><h1>Fully Fledged Idea's</h1> </center>

    <table id="booking" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Enterprenuer Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Description</th>
                <th>Total Investment Needed</th>
                <th>Image</th>

            </tr>
        </thead>
        <tbody>
            

            @foreach (var idea in Model)
            {
               <tr>
                  <td>@idea.Pid</td>  
                  <td>@idea.Pname</td>
                  <td>@idea.Ititle</td>
                  <td>@idea.Idescription</td>
                  <td>@idea.Iinvestmentneeded</td>
                  <td>
                      @if (!string.IsNullOrWhiteSpace(@idea.Iimage))
                          {
                               <img width="100px" height="100px" src="@Url.Content("~/" + @idea.Iimage)" alt="No image found">
                          }
                  </td>
                </tr>    
             
            }
           
        </tbody>
    </table>
    
    <script type="text/javascript">
        $(document).ready(function() {
    $('#booking').DataTable();
} );    
    </script>


