@model IdeasAndInvestors.Models.IdeaMaster
@{
    ViewData["Title"] = "StartUpEditIdea";
    Layout = "~/Views/Shared/_IdeasInvestorsStartUp.cshtml";
    var qList = (List<IdeasAndInvestors.Models.CategoryMaster>)ViewBag.qList;
}
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/template/assets/css/style-starter.css">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">


@using (Html.BeginForm("StartUpEditIdea","StartUp",FormMethod.Post,new {enctype = "multipart/form-data" }))
{

    <!-- CSS Stylesheet -->
   @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"/>*@

<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<link rel="stylesheet" href="~/template/assets/css/login-style.css">

<h1>Edit your <label><b>"@Model.Ititle"</b></label> Idea</h1>
 <div class="signinform">   
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                   
                    <input type="hidden"  id="Iid" name="Iid" value="@Model.Iid" >
                    <input type="hidden" id="Pid" name="Pid" value="@Model.Pid">
                    <input type="hidden" id="Iimage" name="Iimage" value="@Model.Iimage">
                    <input type="hidden" id="Idate" name="Idate" value="@Model.Idate">
                    
                        <div class="input-group">
                            <span><i class="fas fa-lightbulb-o" aria-hidden="true"></i></span>
                            <input type="text" placeholder="@Model.Ititle"  id="Ititle" value="@Model.Ititle" name="Ititle">
                        </div>
                        Select Category
                         <div class="">
                             <select id="Catid" name="Catid" required="">
                                 <option value="" selected="selected">Select</option>
                                 @if (Model != null)
                                {
                                    @foreach (var q in qList)
                                    {
                                        <option value="@q.Catid">@q.Catname</option>
                                    }    
                                }                            
                            </select>
                        </div>
                       
                        <div class="input-group">
                            <span><i class="fas fa-money" aria-hidden="true"></i></span>
                            <input type="text" placeholder="@Model.IinvestmentNeeded"  value="@Model.IinvestmentNeeded" id="IinvestmentNeeded" name="IinvestmentNeeded">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-comments" aria-hidden="true"></i></span>
                            <input type="text" placeholder="@Model.Idescription" value="@Model.Idescription" id="Idescription" name="Idescription">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-clock" aria-hidden="true"></i></span>
                            <input type="text" placeholder="@Model.IinvestmentDuration" value="@Model.IinvestmentDuration" id="IinvestmentDuration" name="IinvestmentDuration">
                        </div>
                        <div class="input-group">
                            <span><i class="fa fa-youtube" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Idea Video" value="@Model.Ividurl" id="Ividurl" name="Ividurl">
                        </div>
                        <button type="button" id="button">Open Video</button>
                        <div class="input-group">
                            <span><i class="fas fa-gift" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Reward less then 10%" value="@Model.IRFLT10Pnt"  id="IRFLT10Pnt" name="IRFLT10Pnt">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-gift" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Reward between 10% - 20%" value="@Model.IRFLT20Pnt" id="IRFLT20Pnt" name="IRFLT20Pnt">
                        </div>
                        
                        <div>
                            <span>@*<i class="fas fa-image" aria-hidden="true"></i>*@Idea Image</span>
                            
                            <input type="file" id="file" name="file" accept="image/*"  />
                        </div>
                        
                        <button class="btn btn-primary btn-block" type="submit">Edit Idea</button>
                 
                     @if (TempData["ComplainMsg"]!= null)
                                    {
                                        <label style="color:red">
                                            @TempData["ComplainMsg"]
                                        </label>
                                    }
                    
                    @*<p class="account">Don't have an account? <a href="@Url.Action("SignUP","Login")">Sign up</a></p>*@
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        
</div>
        <!-- footer -->
} 
<script>
$(document).ready(function(){

    $('#button').click(function(e) {  
        var inputvalue = $("#Ividurl").val();
	window.open(inputvalue,"_blank");
    });
});
</script>

